api/firebase-service-account.json
node_modules/
admin/node_modules/
api/node_modules/
android/app/build/
android/build/
ios/Pods/
ios/build/
admin/dist/
.env
api/.env
admin/.env
admin/.env.local
.DS_Store
.vscode/
*.log
